$primaryColor:#333;
$secondColor:#ccc;
$accentColor:#700;

$white:#fff;
$black:#000;
$darkRed: $accentColor;
$red:#f00;
$lightGreen:#0f0;
$green:#080;
$blue:#00f;
$lightBlue:#08f;
$yellow:#ff0;
$orange:#e80;
$greenBlue:#0fd;
$purple:#80a;
$pink:#f0f;
$linkColor:#0bf;
$linkVisited:#a0a;
