/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* import hack font 
https://sourcefoundry.org/hack/
*/
@font-face {
  font-family: Hack;
  src: url(./assets/Hack.ttf);
}
@font-face {
  font-family: Hack;
  src: url(./assets/Hack-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Hack;
  src: url(./assets/Hack-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: Hack;
  src: url(./assets/Hack-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
/* end font */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 2px;
  padding: 2px;
}

html {
  background-color: #333;
  color: #ccc;
  font-family: Hack;
}

p {
  text-align: left;
  margin: 0 auto;
}

/* header system pulled from bootstrap */
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-weight: 500;
  line-height: 1.2;
  margin: 0 auto;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1,
.h1 {
    font-size: 2.5rem;
  }
}
h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2,
.h2 {
    font-size: 2rem;
  }
}
h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3,
.h3 {
    font-size: 1.75rem;
  }
}
h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4,
.h4 {
    font-size: 1.5rem;
  }
}
h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  display: inline-block;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

u {
  text-decoration: underline;
}

/* end header system */
/* begin text color stuff */
.textRed,
.warning {
  color: #f00;
}

.textDarkRed {
  color: #700;
}

.textLightGreen {
  color: #0f0;
}

.textGreen {
  color: #080;
}

.textBlue {
  color: #00f;
}

.textLightBlue {
  color: #08f;
}

.textYellow {
  color: #ff0;
}

.textOrange {
  color: #e80;
}

.textWhite {
  color: #fff;
}

.textBlack {
  color: #000;
}

.textGreenBlue {
  color: #0fd;
}

.textPurple {
  color: #80a;
}

.textPink {
  color: #f0f;
}

a:link {
  color: #0bf;
}

a:visited {
  color: #a0a;
}

a:hover {
  font-style: italic;
}

a:active {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

/* end text color stuff */
/* background colors */
.background-red {
  background-color: #f00;
}

.background-darkRed {
  background-color: #700;
}

.background-lightGreen {
  background-color: #0f0;
}

.background-green {
  background-color: #080;
}

.background-blue {
  background-color: #00f;
}

.background-lightBlue {
  background-color: #08f;
}

.background-yellow {
  background-color: #ff0;
}

.background-orange {
  background-color: #e80;
}

.background-white {
  background-color: #fff;
}

.background-black {
  background-color: #000;
}

.background-greenBlue {
  background-color: #0fd;
}

.background-purple {
  background-color: #80a;
}

.background-pink {
  background-color: #f0f;
}

/* end background colors */
/* start flex and sizing garbage of hatred and failure */
.flex-container-row {
  display: flex;
  flex-direction: row;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

div {
  flex: 1;
}

.wireframe {
  border: 1px solid #fff;
}

.center-image,
.center-text {
  text-align: center;
}

.set-width-100 {
  min-width: 100px;
  max-width: 100px;
}

.set-width-200 {
  min-width: 200px;
  max-width: 200px;
}

.set-width-300 {
  min-width: 300px;
  max-width: 300px;
}

.set-width-400 {
  min-width: 400px;
  max-width: 400px;
}

.set-width-500 {
  min-width: 500px;
  max-width: 500px;
}

.set-width-600 {
  min-width: 600px;
  max-width: 600px;
}

.set-width-700 {
  min-width: 700px;
  max-width: 700px;
}

.set-width-800 {
  min-width: 800px;
  max-width: 800px;
}

.set-width-900 {
  min-width: 900px;
  max-width: 900px;
}

.set-width-1000 {
  min-width: 1000px;
  max-width: 1000px;
}

.set-height-100 {
  min-height: 100px;
  max-height: 100px;
}

.set-height-200 {
  min-height: 200px;
  max-height: 200px;
}

.set-height-300 {
  min-height: 300px;
  max-height: 300px;
}

.set-height-400 {
  min-height: 400px;
  max-height: 400px;
}

.set-height-500 {
  min-height: 500px;
  max-height: 500px;
}

.set-height-600 {
  min-height: 600px;
  max-height: 600px;
}

.set-height-700 {
  min-height: 700px;
  max-height: 700px;
}

.set-height-800 {
  min-height: 800px;
  max-height: 800px;
}

.set-height-900 {
  min-height: 900px;
  max-height: 900px;
}

.set-height-1000 {
  min-height: 1000px;
  max-height: 1000px;
}

.center-content {
  justify-content: center;
  align-items: center;
}

.quarter-left {
  margin-left: 25%;
}

/* end flex size garbage */
/* mixin thing */
.rotate-20 {
  flex: none;
  display: block;
  transition: transform 1s;
}

.rotate-20:hover {
  -webkit-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg);
}

/* end mixin */
/* transition thing */
.become-different-box {
  flex: none;
  border-style: solid;
  border-width: 1px;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #0000FF;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.become-different-box:hover {
  background-color: #FFCCCC;
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* end transition */
/* page specific stuff */
#demoLinkUnclicked {
  color: #0bf;
}

#display-stuff {
  flex: 3;
}

#navbar-left {
  flex: 0.5;
}

/* end page stuff */
/* modal shit */
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #000;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* modal done */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.slide-img {
  width: 100%;
}

.dot-holder {
  text-align: center;
}

/*end slideshow stuff*/

/*# sourceMappingURL=style.css.map */
