<div class="center wireframe text-center">
  <h2 class="text-center">Class details</h2>
  <input type="text" id="className" name="query" #query class="textbox-center">
  <button type="button" (click)="getClass(query.value)" class="center-wide">Search</button>

  <div id="classDisplay" *ngIf="cleanData.name">
    <h3>{{cleanData.name}}</h3>

    <p><b class="textLightBlue">Hit Die: </b> {{cleanData.hitDie}}</p>

    <h5 class="textLightBlue">Proficiencies</h5>
    <p>{{cleanData.proficiencies}}</p>
    <br>
    <p class="textLightBlue"><b>Pick {{cleanData.skillCount}} from:</b></p>
    <p>{{cleanData.skills}}</p>
    <p><b class="textLightBlue">Saving throws:</b> {{cleanData.saves[0]}} and {{cleanData.saves[1]}}</p>

    <h5 class="textLightBlue">Equipment</h5>
    <p *ngFor="let eo of cleanData.equipmentOptions">
      {{eo}}<br>
    </p>
    <p *ngFor="let e of cleanData.equipment">
      {{e}}<br>
    </p>

    <h5 class="textLightBlue">Subclasses</h5>
    <p *ngFor="let sc of cleanData.subclasses">
      {{sc}}<br>
    </p>

    <div id="spellcasting" *ngIf="cleanData.spellcasting.length>0">
      <h5 class="textLightBlue">Spellcasting</h5>
      <p><b class="textLightBlue">Spellcasting ability:</b> {{cleanData.spellMod}}</p>
      <p *ngFor="let sp of cleanData.spellcasting" class="wide-text">
        <b class="textLightBlue ">{{sp.name}}</b><br>
        {{sp.desc}}<br>
        <br>
      </p>
    </div>
  </div>
</div>
